{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<h1 align="center"> HMS </h1>
<br/>
<br/>
<br/>
<br/>

<h2>Why use HMS?</h2>
<br/>
<br/>

<p style="font-size: x-large; color: black;">
    The project, Hotel Management System is a web-based
    application that allows the hotel manager to handle all hotel
    activities online. Interactive GUI and the ability to manage
    various hotel bookings and rooms make this system very flexible
    and convenient. The hotel manager is a very busy person and
    does not have the time to sit and manage the entire activities
    manually on paper. This application gives him the power and
    flexibility to manage the entire system from a single online
    system. Hotel management project helps in check-in and check
    out. The system allows the manager to post available rooms in
    the system. The system is hence useful for both customers and
    managers to portable manage the hotel activities.
</p>
<br/>
<br/>
<p style="font-size: large; font-weight: 700; font-optical-sizing:inherit; font-size: x-large;">
    This provides you with:
</p>
<ul style="font-size: large; font-weight: 700; font-optical-sizing:inherit;">
    <li>Seamless integration across all our branches</li>
    <li>Super fast performance to increase your employees productivity</li>
    <li>Integrated Database to keep all your records safe</li>
</ul>
<br/>
<br/>
<a href="/login" class="btn btn-success">Go to Log-in</a>
<br/>
<br/>
<br/>
<p>
    Made by Fahad, Karthik and Abhimanyu
</p>



{% endblock %}